.link:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: white;
    cursor: pointer;
    color: black;
}

.container:hover {
    filter: invert(100%);
}

.title {
    margin: 0;
}

.subtitle {
    margin: 0;
    text-align: center;
}
