$thickness: 2px;

.line {
    width: calc(50% + #{$thickness} / 2);
    height: 100%;
    border-right: $thickness solid black;
}

.dotCell {
	width: 3.5em;
	min-height: 3.5em;
}

.dotCell:first-child > .line {
    border-right: none;
    &::after {
        display: block;
        height: 50%;
        transform: translateY(100%);
        border-right: $thickness solid black;
        content: "";
    }
}

.big {
	width: 3em;
	height: 3em;
}
.small {
	width: 1.5em;
	height: 1.5em;
}

.circleWrapper {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
}
.circle {
	border-radius: 9999px;
	border: $thickness solid black;
	background-color: white;
}
.fill {
    background-color: black;
}

.season {
    word-spacing: 0.3em;
    color: #bbb;
}
.seasonContainer {
    white-space: nowrap;
}

.text {
	margin: 0;
	padding-left: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
